In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv("D:/Kaggle/safe driver prediction/train.csv")

In [3]:
test=pd.read_csv("D:/Kaggle/safe driver prediction/test.csv")

In [4]:
sample_submission=pd.read_csv("D:/Kaggle/safe driver prediction/sample_submission.csv")

In [5]:
print(train.shape)
train.head(3)

(595212, 59)

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0

In [6]:
print(test.shape)
train.head(8)

(892816, 58)

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0
5,19,0,5,1,4,0,0,0,0,0,...,4,2,0,9,0,1,0,1,1,1
6,20,0,2,1,3,1,0,0,1,0,...,3,0,0,10,0,1,0,0,1,0
7,22,0,5,1,4,0,0,1,0,0,...,7,1,3,6,1,0,1,0,1,0

In [7]:
print(sample_submission.shape)
sample_submission.head(3)

(892816, 2)

   id  target
0   0  0.0364
1   1  0.0364
2   2  0.0364

In [8]:
from sklearn.cross_validation import train_test_split
import xgboost as xgb

C:\Users\Karra's\AppData\Local\conda\conda\envs\tensorflowsessions\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
y=train['target'].values

In [10]:
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [11]:
trainid=train['id'].values

In [12]:
testid=test['id'].values

In [13]:
print(train.shape)
x_train=train.drop(['target','id'],axis=1)
print(train.shape)

(595212, 59)
(595212, 59)

In [14]:
x_test=test.drop(['id'],axis=1)

In [15]:
x_train,x_valid,y_train,y_valid=train_test_split(x_train,y,test_size=0.2,random_state=4242)

In [17]:
print('train_samples:{}validation_samples :{}'.format(len(x_train),len(x_valid)))

train_samples:476169validation_samples :119043

In [18]:
x_train.head(4)

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
566710,0,1,3,0,0,1,0,0,0,0,...,8,1,1,5,0,0,0,0,1,1
69253,0,1,1,0,0,1,0,0,0,0,...,6,0,4,8,0,1,1,0,0,0
148245,6,4,8,1,0,0,0,1,0,0,...,3,3,6,8,0,0,1,1,0,0
431927,5,2,5,0,0,0,1,0,0,0,...,4,2,3,6,0,1,1,1,0,0

In [19]:
d_train=xgb.DMatrix(x_train,y_train)
d_valid=xgb.DMatrix(x_valid,y_valid)
d_test=xgb.DMatrix(x_test)

In [20]:
params={}
params['objective']='binary:logistic'
params['eta']=.02
params['silent']=True
params['max_depth']=6
params['subsample']=0.9
params['colsample_bytree']=0.9

In [21]:
def gini(actual, pred, cmpcol = 0, sortcol = 1):
    assert( len(actual) == len(pred) )
    all = np.asarray(np.c_[ actual, pred, np.arange(len(actual)) ], dtype=np.float)
    all = all[ np.lexsort((all[:,2], -1*all[:,1])) ]
    totalLosses = all[:,0].sum()
    giniSum = all[:,0].cumsum().sum() / totalLosses
    
    giniSum -= (len(actual) + 1) / 2.
    return giniSum / len(actual)
 
def gini_normalized(a, p):
    return gini(a, p) / gini(a, a)

# Create an XGBoost-compatible metric from Gini

def gini_xgb(preds, dtrain):
    labels = dtrain.get_label()
    gini_score = gini_normalized(labels, preds)
    return [('gini', gini_score)]

In [22]:
watch_list=[(d_train,'train'),(d_valid,'valid')]

In [28]:
mdl=xgb.train(params,d_train,1000,watch_list,early_stopping_rounds=100,feval=gini_xgb,maximize=True,verbose_eval=10)

[0]	train-gini:0.228668	valid-gini:0.221679
Multiple eval metrics have been passed: 'valid-gini' will be used for early stopping.

Will train until valid-gini hasn't improved in 100 rounds.
[10]	train-gini:0.252636	valid-gini:0.238178
[20]	train-gini:0.260162	valid-gini:0.242111
[30]	train-gini:0.262524	valid-gini:0.243274
[40]	train-gini:0.265908	valid-gini:0.245379
[50]	train-gini:0.268071	valid-gini:0.246149
[60]	train-gini:0.271413	valid-gini:0.248029
[70]	train-gini:0.273655	valid-gini:0.248761
[80]	train-gini:0.277046	valid-gini:0.250293
[90]	train-gini:0.279765	valid-gini:0.251545
[100]	train-gini:0.283277	valid-gini:0.252813
[110]	train-gini:0.286058	valid-gini:0.253855
[120]	train-gini:0.289338	valid-gini:0.254802
[130]	train-gini:0.293036	valid-gini:0.256427
[140]	train-gini:0.297684	valid-gini:0.259298
[150]	train-gini:0.30243	valid-gini:0.261506
[160]	train-gini:0.307415	valid-gini:0.263405
[170]	train-gini:0.311951	valid-gini:0.265271
[180]	train-gini:0.316934	valid-gini:0.267361
[190]	train-gini:0.322015	valid-gini:0.269374
[200]	train-gini:0.326187	valid-gini:0.270637
[210]	train-gini:0.331009	valid-gini:0.271697
[220]	train-gini:0.335055	valid-gini:0.272526
[230]	train-gini:0.339035	valid-gini:0.273528
[240]	train-gini:0.343458	valid-gini:0.274619
[250]	train-gini:0.347378	valid-gini:0.275379
[260]	train-gini:0.351268	valid-gini:0.276862
[270]	train-gini:0.354816	valid-gini:0.277776
[280]	train-gini:0.358144	valid-gini:0.278975
[290]	train-gini:0.362127	valid-gini:0.279856
[300]	train-gini:0.365506	valid-gini:0.280602
[310]	train-gini:0.369011	valid-gini:0.280776
[320]	train-gini:0.372505	valid-gini:0.281516
[330]	train-gini:0.376287	valid-gini:0.282229
[340]	train-gini:0.379968	valid-gini:0.28228
[350]	train-gini:0.383241	valid-gini:0.282574
[360]	train-gini:0.38693	valid-gini:0.283215
[370]	train-gini:0.390458	valid-gini:0.283817
[380]	train-gini:0.393744	valid-gini:0.284322
[390]	train-gini:0.397205	valid-gini:0.284409
[400]	train-gini:0.400835	valid-gini:0.284464
[410]	train-gini:0.403848	valid-gini:0.284458
[420]	train-gini:0.407309	valid-gini:0.284625
[430]	train-gini:0.410662	valid-gini:0.28481
[440]	train-gini:0.414015	valid-gini:0.285006
[450]	train-gini:0.416949	valid-gini:0.284827
[460]	train-gini:0.420659	valid-gini:0.284967
[470]	train-gini:0.42369	valid-gini:0.285141
[480]	train-gini:0.426341	valid-gini:0.285371
[490]	train-gini:0.429161	valid-gini:0.285427
[500]	train-gini:0.431549	valid-gini:0.285521
[510]	train-gini:0.433453	valid-gini:0.285627
[520]	train-gini:0.436235	valid-gini:0.285577
[530]	train-gini:0.438136	valid-gini:0.285588
[540]	train-gini:0.441348	valid-gini:0.285613
[550]	train-gini:0.444314	valid-gini:0.285523
[560]	train-gini:0.447518	valid-gini:0.285364
[570]	train-gini:0.450539	valid-gini:0.28508
[580]	train-gini:0.453072	valid-gini:0.285148
[590]	train-gini:0.455357	valid-gini:0.285176
[600]	train-gini:0.457669	valid-gini:0.28544
[610]	train-gini:0.460277	valid-gini:0.285233
[620]	train-gini:0.463167	valid-gini:0.28507
[630]	train-gini:0.465648	valid-gini:0.284829
[640]	train-gini:0.467913	valid-gini:0.284839
Stopping. Best iteration:
[545]	train-gini:0.442896	valid-gini:0.28576

In [29]:
p_test=mdl.predict(d_test)

In [30]:
sub=pd.DataFrame()

In [31]:
sub['id']=testid
sub['target']=p_test
sub.to_csv('D:/Kaggle/safe driver prediction/xgbnew.csv')
sub.to_csv('D:/Kaggle/safe driver prediction/xgbnewtry.csv',index=False)
print(sub.head())

   id    target
0   0  0.026008
1   1  0.031467
2   2  0.024701
3   3  0.016535
4   4  0.036034